---
layout: default
---


<h2> Posts listed under tag: <code class="highlighter-tag"><nobr>{{ page.tagname }}</nobr></code> </h2>
{% assign filtered_posts = site.posts | where: 'tag', page.tagname %}
<ul>
{% for post in filtered_posts %}
    <li>
		<img src="{{post.image | relative_url }}">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
			{%- if post.summary -%}
				{{ post.summary }}
			{%- elsif post.excerpt -%}
				{{ post.excerpt }}
			{%- endif -%}
        {%- endif -%}
		<div class="post-categories">
			  {% if post %}
				{% assign categories = post.categories %}
			  {% endif %}
			  Categories: 
			  {% for category in categories %}
			  <a href="{{site.baseurl}}/category/{{category|slugize}}">{{category | replace: "_", " " | capitalize}}</a>
			  {% unless forloop.last %},&nbsp;{% endunless %}
			  {% endfor %}
		</div>
      </li>
	<br><hr><br>
{% endfor %}
</ul>


{% capture temptags %}
  {% for tag in site.tags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
  {% endfor %}
{% endcapture %}
{% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
{% for temptag in sortedtemptags %}
  {% assign tagitems = temptag | split: '#' %}
  {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
  <a href="/tag/{{ tagname }}"><code class="highlighter-tag"><nobr>{{ tagname    }}</nobr></code></a>
  <!--<a href="/tag/{{ tagname }}">
	<span style="background-color:#007F73; border:2px solid #007F73; border-radius: 5px; color:#F5FCCD">
		{{	tagname		}}
	</span></a>-->
{% endfor %}